@import url("https://fonts.googleapis.com/css2?family=K2D:wght@600;800&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #eaf0e3;
  color: #2e2d60;
  font-family: "K2D", sans-serif;
}

button,
a,
input {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.2rem;
  width: 100%;
}
